# Terraform state
*.tfstate
*.tfstate.backup

# Terraform vars (보통 민감 정보 포함)
*.tfvars

# Terraform context/cache
.terraform/
.terraform.lock.hcl

# Crash log
crash.log

# Plan files
*.tfplan

# IDE 관련 (옵션)
.vscode/
.idea/